div#lorem {
	margin: 0 auto; 
	padding: 10px;
	border: 2px solid aqua; 
	background: yellow; 
	width: 1180px; 
	border-radius: 10px;
	box-shadow: 2px 2px 2px #ff0000;
}

div#my-font {
	margin: 0 auto;
	border: 1px solid green;
	width: 500px;
	margin-top: 50px;
	font-size: 1.1em;
	text-align: justify !important;
}

.my-weight {
	font-weight: bold;
	font-style: oblique;
	font-variant: small-caps;
	color: #33b3e3;
	text-transform: capitalize;
}	